body {
    background-image: url(https://64.media.tumblr.com/4a1f063c3b82a07271e84aca9184e4b8/tumblr_ocv6yoWDHD1s9fn3ko1_1280.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    background-attachment: fixed;
}